@page "/edit/{CurretnID}"
@using BlazorEmpwage.Data
@using BlazorEmpwage.Services

@inject EmpServices ObjCustomService
@inject NavigationManager navigation
@*<h2>Edit</h2>

    <hr />*@
@if (Checksubmit)
{
<p class="alert-warning">Emp details Updated Successfully</p>
}
<header class="header-content header">
    <div class="logo-content">
        <h2>Edit</h2>
        <a href="./EmployeePayrollHome.html"> <img src="/assets/logo.png" alt="logo image"></a>
        <div>
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL  </span>
        </div>
    </div>
</header>
<div class="form-content">
    @*<EditForm Model="@objCI">*@
    <EditForm Model="@objCI">

        <div class="row-content">
            <label class="label text" for="name">EmployeeId</label>
            <input for="Name" class="form-control" @bind="@objCI.EmployeeId" />

            <error-output class="name-error" for="name"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <input for="Name" class="form-control" @bind="@objCI.Name" />

            <error-output class="name-error" for="name"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <select @bind="@objCI.Gender" class="form-control">
                <option value="">-- Select Gender --</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="row-content">
            <label class="label text" for="name">Department</label>
            <input for="Name" class="form-control" @bind="@objCI.Department" />

            <error-output class="name-error" for="name"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="name">Salary</label>
            <input for="Name" class="form-control" @bind="@objCI.Salary" />

            <error-output class="name-error" for="name"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="name">StartDate</label>
            <input for="Name" class="form-control" @bind="@objCI.StartDate" />

            <error-output class="name-error" for="name"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="name">Notes</label>
            <input for="Name" class="form-control" @bind="@objCI.Notes" />

            <error-output class="name-error" for="name"></error-output>
        </div>

        <div class="button-content">
            <a href="/emphome" class="add-button">Cancel</a>
            <div class="submit-reset">
                <input type="button" @onclick="@UpdateCustomer" class="btn btn-primary" value="Save" />


            </div>
        </div>
    </EditForm>
</div>



@*</div>*@

@code { //Employee emp = new Employee();
    public bool Checksubmit = true;
    [Parameter]
    public string CurretnID { get; set; }
    Employee objCI = new Employee();

    protected override async Task OnInitializedAsync()
    {
        objCI = await Task.Run(() => ObjCustomService.GetEmployeeByID(Convert.ToInt32(CurretnID)));
    }
    protected void UpdateCustomer()
    {
        ObjCustomService.UpdateEmployee(objCI);
        navigation.NavigateTo("empHome");
    }
    void Cancel()
    {
        navigation.NavigateTo("empHome");
    } }
